.Card {
  padding: 10px;
  margin: 50px auto;

  &__header {
    overflow: hidden;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;

    &__type {
      float: left;

      img {
        height: 20px;
        width: 20px;
        margin: 15px 0;
        margin-right: 5px;
        float: left;
      }
    }

    &--delBtn {
      float: right;
      width: 40px;
      height: 40px;
      margin: 5px;

      svg {
        width: 25px;
        height: 25px;
        fill: #42526e;
      }
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    margin-top: 20px;

    &__content {
      &__title {
        input {
          width: 100%;
          border: none;
          color: #333;
          font-size: 20px;
          border-radius: 3px;
          padding: 10px;
          border: 1px solid transparent;
          outline: none;

          &:hover {
            background-color: #ebecf0;
          }

          &:focus,
          &:active {
            background-color: transparent;
            border-color: #0052cc;
          }
        }
      }

      &__desc {
        margin-top: 20px;
        
        .hint {
          color: #666;
        }
        
        .content {
          min-height: 40px;
          width: 100%;
          border: none;
          color: #333;
          font-size: 20px;
          border-radius: 3px;
          padding: 10px;
          word-break: break-word;
          border: 1px solid transparent;
          outline: none;

          &:hover {
            background-color: #ebecf0;
          }

          &:focus,
          &:active {
            background-color: transparent;
            border-color: #0052cc;
          }
        }
      }

      &__comments {
        margin-top: 20px;
        overflow: hidden;
        .hint {
          color: #666;
        }
        >input {
          height: 50px;
          border: 1px solid #ebecf0;
          border-radius: 3px;
          margin: 10px 0;
          padding: 0 10px;
          outline: none;
          width: 100%;
          &:hover {
            background-color: #ebecf0;
          }

          &:focus,
          &:active {
            background-color: transparent;
            border-color: #0052cc;
          }
          
        }

        &__comment {
          overflow: hidden;
          margin-top: 10px;
          &:first-of-type {
            margin-top: 0;
          }
          &__username {
            img {
              width: 30px;
              height: 30px;
              object-fit: contain;
              border-radius: 50%;
              float: left;
            }
            span {
              margin-left: 10px;
              display: inline-block;
            }
          }

          &__content {
            color: #42526e;
            word-break: break-all;
            margin-top: 5px;
          }
        }
      }
    }

    &__info {
      padding-top: 20px;
      &__column {
      }

      &__reporter {
      }

      &__assignees {
        &__assignee {
        }
      }

      &__priority {
      }

      &__time {
      }
    }

    @media (min-width: 768px) {
      &__info {
        padding: 0;
        padding-left: 10px;
      }
      grid-template-columns: calc(100% - 200px) 200px;
      grid-template-rows: 1fr;
    }
  }

  @media (min-width: 768px) {
    width: 720px;
  }
}
