.Home {
    background-image: linear-gradient(rgba(65, 127, 245, 0.5), rgba(65, 127, 245, 0.5)), url(${bg});
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }