$blue:#427ff5;
$red: #fc6159;
$green: #29ca42;
$yellow: #fbc32f;
$radius: 5px;
$mainTextColor: #384258;
$subTextColor:#8a898b;
$white: #fff;
$offWhite:#f1f3f4;
$border1: #dfdfe0;
$border2:#dee1e6;
$border3: #e6e6e6;
$border4: #f5f5f5;
$activeTabColor: $blue;
