<template>
  <div id="about">
    <header />
    <p>The app stores the tasks @ the user's browser localstorage. made by spk.js</p>
  </div>
</template>

<script>
  import { debug } from "../../lib/pk.js";
  import Header from "../components/header";

  export default class About {
    constructor() {}
    data() {
      return {
        name: "About",
        components: {Header},
        template: this.template(),
        style: this.style(),
        render: this.render.bind(this),
      };
    }

    render() {
      debug("test about component");
    }
  }
</script>

<style lang="scss">
  #about {
    p {
      line-height: 26px;
      color: #666;
      text-align: center;
      margin: 50px 0;
    }
  }
</style>
