<template>
  <div id="card"></div>
</template>

<script>
  import api from "../services/api.js";
  import { Origin, $ } from "olum-helpers";
  import router from "../router/index.js";
  export default class Card {
    render() {
      console.warn("router params from Card component ", router.params);
      const { id } = router.params; 
      this.origin = new Origin();
      // this.getData(api.currentCardId);
      this.getData(id);
    }
    getData(id) {
      const container = $("#card");
      this.origin
        .get("http://localhost:3000/cards/" + id)
        .then(data => {
          container.innerHTML = JSON.stringify(data);
        })
        .catch(console.error);
    }
  }
</script>

<style lang="scss">
  #card {
  }
</style>
