<template>
  <div class="Home">
    <App-Siko />
    <App-Nav />
    <App-Header />
    <App-Browser />
    <App-Footer />
  </div>
</template>

<script>
  import bg from "../assets/bg.webp";
  import Nav from "../components/layout/nav.js";
  import Header from "../components/layout/header";
  import Footer from "../components/layout/footer";
  import Browser from "../components/browser";
  import Siko from "../siko";
  class Home {
    render() {}
  }
  export default Home;
</script>

<style lang="scss">
  @import "../styles/home.scss";
</style>
