<template>
  <div class="Home">
    <App-Nav />
    <App-Header />
    <App-Browser />
    <App-Footer />
  </div>
</template>

<script>
  import { debug,$ } from "../../lib/olum.js";
  import bg from "../assets/bg.webp";
  import Nav from "../components/layout/nav";
  import Header from "../components/layout/header";
  import Footer from "../components/layout/footer";
  import Browser from "../components/browser";
  export default class Home {
    constructor() {}
    data() {
      return {
        name: "Home",
        components: { Nav, Header, Browser, Footer },
        template: this.template(),
        style: this.style(),
        render: this.render.bind(this),
      };
    }

    render() {
      debug($("body"))
    }
  }
</script>

<style lang="scss">
  .Home {
    background-image: linear-gradient(rgba(65, 127, 245, 0.5), rgba(65, 127, 245, 0.5)), url(${bg});
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }
</style>
