<template>
  <div id="home">
    <header />
    <AddTodo />
    <Todos />
  </div>
</template>

<script>
  import { OnInit, debug } from "../../lib/pk.js";
  import Header from "../components/header";
  import AddTodo from "../components/addtodo";
  import Todos from "../components/todos";

  export default class Home extends OnInit {
    data = {
      name: "Home",
      components: {
        Header,
        AddTodo,
        Todos,
      },
      template,
      style,
      render: () => this.render(),
    };

    constructor() {
      super();
    }

    init = () => super.init(this.data);

    render() {
      debug("test home component");
    }
  }
</script>

<style lang="scss">
  #home {
    height: 100vh;
  }
</style>
