<template>
  <div class="Home">
    
    <span id="num">${this.num}</span>
    ${this.isPending ? `
    <Loader />
    ` : `
    <Items />
    `}
  </div>
</template>

<script>
  import Loader from "../components/Loader.html";
  import Items from "../components/Items.html";
  import { $ } from "olum-helpers";
  export default class Home {
    isPending = true;
    toggle = true;
    num = 0;
    render() {
      $("#num").innerHTML = ++this.num;
      console.log("Home component");
      const wrapper = $(".Home");
      this.isPending = false;
      if (this.toggle) {
        this.toggle = false;
        setTimeout(() => {
          wrapper.innerHTML = this.template(true);
        }, 5000);
      }
    }
  }
</script>

<style lang="scss">
  .Home {
  }
</style>
