<template>
  <div class="Settings">
    <Nav />
    <SettingsContent />
</template>

<script>
  import Nav from "../components/Nav.html";
  import SettingsContent from "../components/SettingsContent.html";
  import router from "../router/index.js";
  export default class Settings {
    render() {
      const { foo } = router.params; 
      console.warn("router params from Card component ", router.params);
      
    }
  }
</script>

<style lang="scss">
  .Settings {
    &__content {
      float: right;
      width: calc(100% - 304px);
      transition: width 0.2s ease;
      height:100vh;
      padding: 24px;
    }
  }
</style>
