<template>
  <div class="BoardContent">
    <Search />
    <Columns />
  </div>
</template>

<script>
  import Search from "../components/Search.html";
  import Columns from "../components/Columns.html";
  export default class BoardContent {
    render() {}
  }
</script>

<style lang="scss">
  .BoardContent {
    float: right;
    width: calc(100% - 304px);
    transition: width 0.2s ease;
    height: 100vh;
    padding: 24px;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
</style>
