<template>
  <div class="Browser">
    <App-Tabs />
    <App-Search />
    <App-Notes />
    <App-Addnote />
  </div>
</template>

<script>
  import { $ } from "../../lib/pk.js";
  import AddNote from "../components/addnote";
  import Search from "../components/search";
  import Tabs from "../components/tabs";
  import Notes from "../components/notes";
  import setWH from "../services/setWH.js";

  export default class Browser {
    margin = 15;
    constructor() {}

    data() {
      return {
        name: "Browser",
        components: { Tabs, Search, Notes, AddNote },
        template: this.template(),
        style: this.style(),
        render: this.render.bind(this),
      };
    }

    render() {
      const container = $(".Browser");
      setWH(container, this.margin);
    }
  }
</script>

<style lang="scss">
  .Browser {
    position: relative;
    margin: 0 auto;
    border-radius: $radius;
  }
</style>
