<template>
  <div class="Columns"></div>
</template>

<script>
  import bugIcon from "../assets/bug.png";
  import taskIcon from "../assets/task.png";
  import lowIcon from "../assets/low.png";
  import mediumIcon from "../assets/medium.png";
  import highIcon from "../assets/high.png";
  import icons from "../services/icons.js";
  import { $, debug, Origin } from "olum-helpers";
  import router from "../router/index.js";
  import api from "../services/api.js";
  export default class Columns {
    render() {
      this.origin = new Origin();
      this.getData();
    }

    getData() {
      const url1 = "http://localhost:3000/cards";
      const url2 = "http://localhost:3000/members";
      this.origin
        .get(url1)
        .then(cards => {
          this.origin
            .get(url2)
            .then(members => {
              this.mkCols({ cards, members });
            })
            .catch(console.error);
        })
        .catch(console.error);
    }

    mkCols(obj) {
      // gather columns in an array
      const columnsArr = obj.cards.map(item => item.column);
      // create markup of columns
      const colMarkup = columnsArr.map(col => {
        return {
          content: `
              <section class="Columns__column">
                <h4 class="Columns__column__title">${col.title}</h4>
                <div class="Columns__column__cards"> 
                  {{cards}}
                </div>
              </section>
              `,
          id: col.id,
        };
      });

      this.mkCards(colMarkup, obj);
    }

    mkMemberIMG(card, members) {
      let markup = card.assignees
        .map((assignee, index) => {
          if (members[assignee]) {
            return `
          <span class="clickCard" data-cardId="${card.id}" style="margin-left: -${index > 0 ? 10 : "0"}px; ${index > 2 ? "display: none;" : ""}">
            <img class="clickCard" data-cardId="${card.id}" src="${members[assignee]}" alt="${assignee}" /> 
            <span class="hint clickCard" data-cardId="${card.id}">${assignee}</span>
          </span>
          `;
          }
        })
        .join("");

      if (card.assignees.length > 3) markup += `<span class="more clickCard" data-cardId="${card.id}" style="margin-left:-10px;">${icons.dots}</span>`;
      return markup;
    }

    mkPriorityIMG(card) {
      let icon;
      if (card.priority == "low") icon = lowIcon;
      else if (card.priority == "high") icon = mediumIcon;
      else if (card.priority == "medium") icon = highIcon;
      return `<img src=${icon} alt=${card.priority} class="clickCard" data-cardId="${card.id}"/><span class="hint clickCard" data-cardId="${card.id}">${card.priority}</span>`;
    }

    mkTypeIMG(card) {
      let icon;
      if (card.type == "task") icon = taskIcon;
      else if (card.type == "bug") icon = bugIcon;
      return `<img src=${icon} alt=${card.type} class="clickCard" data-cardId="${card.id}"/><span class="hint clickCard" data-cardId="${card.id}">${card.type}</span>`;
    }

    mkCards(colMarkup, obj) {
      const container = $(".Columns");
      const cols = [];

      // loop to make structure
      colMarkup.forEach(col => {
        const colId = col.id;
        const cards = obj.cards
          .map(card => {
            if (card.column.id == colId) {
              return `
                  <section class="Columns__column__cards__card clickCard" data-cardId="${card.id}">
                    <h4 class="Columns__column__cards__card__title clickCard" data-cardId="${card.id}">${card.title}</h4>
                    <div class="Columns__column__cards__card__info clickCard" data-cardId="${card.id}">
                      <div class="Columns__column__cards__card__info__assignees clickCard" data-cardId="${card.id}">${this.mkMemberIMG(card, obj.members)}</div>
                      <div class="Columns__column__cards__card__info__num clickCard" data-cardId="${card.id}">${card.type.upper()}-${card.id}</div>
                      <div class="Columns__column__cards__card__info__priority clickCard" data-cardId="${card.id}">${this.mkPriorityIMG(card)}</div>
                      <div class="Columns__column__cards__card__info__type clickCard" data-cardId="${card.id}">${this.mkTypeIMG(card)}</div>
                    </div>
                  </section>
                `;
            }
          })
          .join("");

        // get final column markup within its cards
        col.content = col.content.replace("{{cards}}", cards);
        cols.push(col);
      });

      // remove duplicated columns
      const seen = new Set();
      const filteredArr = cols.filter(el => {
        const duplicate = seen.has(el.id);
        seen.add(el.id);
        return !duplicate;
      });

      // update UI
      const markup = filteredArr.map(col => col.content).join("");
      container.innerHTML = markup;
      this.openCard();
    }

    openCard() {
      const container = $(".Columns");
      container.on("click", e => {
        if (e.target.classList.contains("clickCard")) {
          const id = e.target.getAttribute("data-cardId");
          // debug([e.target, id]);
          api.currentCardId = id;
          router.navigate("/card/"+id);
        }
      });
    }
  }
</script>

<style lang="scss">
  .Columns {
    height: 100%;
    display: grid;
    justify-content: start;
    align-items: start;
    grid-gap: 10px;
    grid-auto-flow: column;
    overflow: auto;
    &__column {
      width: 280px;
      background: #f4f5f7;
      margin: 0 2.5px;
      min-height: 100px;
      border-radius: 3px;
      padding: 5px;
      box-shadow: 0 0 0 1px rgba(9, 30, 66, 0.08), 0 2px 4px 1px rgba(9, 30, 66, 0.08);
      margin-top: 1px;
      &__title {
        margin: 0;
        font-size: 16px;
        font-weight: normal;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 5px 15px;
      }

      &__cards {
        &__card {
          padding: 10px;
          background: white;
          border-radius: 3px;
          margin: 5px 0;
          overflow: hidden;
          border: 1px solid #ededed;
          cursor: pointer;
          &__title {
            font-weight: normal;
            margin: 0 0 12px 0;
            white-space: normal;
          }

          &__info {
            overflow: hidden;
            &__assignees {
              float: left;
              margin-right: 10px;
              > span {
                position: relative;
                float: left;

                img {
                  height: 30px;
                  border: 2px solid white;
                  float: left;
                  border-radius: 50%;
                  box-sizing: content-box;
                  &:hover {
                    ~ span.hint {
                      display: inline-block;
                      z-index: 999;
                      top: 50%;
                      left: 40px;
                      transform: translateY(-50%);
                    }
                  }
                }

                .hint {
                  display: none;
                  position: absolute;
                  background-color: rgba(0, 0, 0, 0.7);
                  padding: 5px;
                  color: white;
                  font-size: 15px;
                  white-space: nowrap;
                  border-radius: 2px;
                  transition: all 0.3s ease-in-out;
                  &::before {
                    content: "";
                    position: absolute;
                    left: -14px;
                    top: 12px;
                    border: 7px solid transparent;
                    border-right-color: rgba(0, 0, 0, 0.7);
                  }
                }

                &.more {
                  margin-left: -10px;
                  width: 30px;
                  height: 30px;
                  background: #eee;
                  border-radius: 50%;
                  border: 2px solid white;
                  box-sizing: content-box;
                  svg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    fill: #172b4d;
                    width: 15px;
                    height: 15px;
                  }
                }
              }
            }

            &__num {
              float: left;
              font-size: 15px;
              color: #666;
            }

            &__type {
              float: right;
              position: relative;
              width: 30px;
              height: 30px;
              img {
                height: 20px;
                padding: 5px;
                box-sizing: content-box;
                &:hover {
                  ~ span.hint {
                    display: inline-block;
                    z-index: 999;
                    top: 50%;
                    right: calc(100% + 5px);
                    transform: translateY(-50%);
                  }
                }
              }

              .hint {
                display: none;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.7);
                padding: 5px;
                color: white;
                font-size: 15px;
                white-space: nowrap;
                border-radius: 2px;
                transition: all 0.3s ease-in-out;
                &::before {
                  content: "";
                  position: absolute;
                  left: 100%;
                  top: 14px;
                  border: 7px solid transparent;
                  border-left-color: rgba(0, 0, 0, 0.7);
                }
              }
            }

            &__priority {
              float: right;
              position: relative;
              width: 30px;
              height: 30px;
              img {
                height: 20px;
                padding: 5px;
                box-sizing: content-box;
                &:hover {
                  ~ span.hint {
                    display: inline-block;
                    z-index: 999;
                    top: 50%;
                    right: calc(100% + 5px);
                    transform: translateY(-50%);
                  }
                }
              }

              .hint {
                display: none;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.7);
                padding: 5px;
                color: white;
                font-size: 15px;
                white-space: nowrap;
                border-radius: 2px;
                transition: all 0.3s ease-in-out;
                &::before {
                  content: "";
                  position: absolute;
                  left: 100%;
                  top: 14px;
                  border: 7px solid transparent;
                  border-left-color: rgba(0, 0, 0, 0.7);
                }
              }
            }
          }
        }
      }
    }
  }
</style>
