<template>
  <div class="Columns">
    <section class="Columns__column">1</section>
    <section class="Columns__column">2</section>
    <section class="Columns__column">3</section>
    <section class="Columns__column">4</section>
  </div>
</template>

<script>
  export default class Columns {
    render() {}
  }
</script>

<style lang="scss">
  .Columns {
    height: 100%;
    white-space: nowrap;
    overflow: auto;
    height: calc(100% - 10px);
    &__column {
      width: 280px;
      height: calc(100% - 10px);
      background: #f4f5f7;
      overflow: hidden;
      display: inline-block;
      white-space: nowrap;
      margin: 0 2.5px;
    }
  }
</style>
