<template>
  <div class="Notes"></div>
</template>

<script>
  export default class Notes {
    constructor() {}

    data() {
      return {
        name: "Notes",
        components: {},
        template: this.template(),
        style: this.style(),
        render: this.render.bind(this),
        scoped: false,
      };
    }

    render() {}
  }
</script>

<style lang="scss">
  .Notes {
    position: absolute;
    left: 0;
    top: 100px;
    height: calc(100% - 150px);
    width: 100%;
  }
</style>
