<template>
  <div class="Section">
    section
    <Aside />
  </div>
</template>

<script>
  import Aside from "../components/aside";
  export default class Section {
    constructor() {}
    data() {
      return {
        name: "Section",
        components: { Aside },
        template: this.template(),
        style: this.style(),
        render: this.render.bind(this),
      };
    }

    render() {      console.log("section component ran");
}
  }
</script>

<style lang="scss">
  .Section {
  }
</style>
