<template>
  <div class="Tabs">
    <div class="innerTabs">
      <!-- dots -->
      <div class="dots"><span></span></div>

      <div class="sliderWrapper">
        <div class="slider">
          <span class="tab">1</span>
          <span class="tab">2</span>
          <span class="tab">3</span>
          <span class="tab">4</span>
          <span class="tab">5</span>
        </div>
      </div>

      <!-- add tab -->
      <button type="button" class="addTab"><img src="${plus}" alt="add" /></button>
    </div>
  </div>
</template>

<script>
  import { $ } from "../../lib/pk.js";
  import plus from "../assets/plus.svg";
  export default class Tabs {
    startX = 0;
    currentX = 0;
    isDown = false;
    isActive = false;
    walk = 0;
    totalWidth;
    tabWidth = 250;

    constructor() {}

    data() {
      return {
        name: "Tabs",
        components: {},
        template: this.template(),
        style: this.style(),
        render: this.render.bind(this),
      };
    }

    render() {
      this.slider = $(".slider");
      this.slider.on("touchstart", e => this.dragStart(e));
      this.slider.on("mousedown", e => this.dragStart(e));
      this.slider.on("touchend", e => this.dragEnd(e));
      this.slider.on("mouseup", e => this.dragEnd(e));
      this.slider.on("touchmove", e => this.dragMove(e));
      this.slider.on("mousemove", e => this.dragMove(e));
      this.slider.on("wheel", e => this.scroll(e));
      this.slider.on("mouseleave", () => ((this.isActive = false), (document.body.style.overflow = "")));
      this.slider.on("mouseenter", () => (document.body.style.overflow = "hidden"));
    }

    scroll(e) {
      e = e || window.event;
      const wrapper = $(".sliderWrapper");
      const tabs = $(wrapper).get(".tab", true);
      this.totalWidth = tabs.length ? tabs.length * tabs[0].offsetWidth - wrapper.offsetWidth : 0;
      let currentLeft = +getComputedStyle(this.slider).left.replace(/\D/gi, "");
      if (e.deltaY < 0) {
        // next
        currentLeft -= this.tabWidth;
        if (currentLeft < 0) currentLeft = 0;
      } else {
        // prev
        currentLeft += this.tabWidth;
        if (currentLeft > this.totalWidth) currentLeft = this.totalWidth;
      }
      this.slider.style.left = `-${currentLeft}px`;
    }

    dragStart(e) {
      e = e || window.event;
      this.isDown = true;
      this.isActive = true;
      if (e.type == "mousedown") {
        this.startX = e.pageX - this.slider.offsetLeft;
      } else {
        this.startX = e.touches[0].pageX - this.slider.offsetLeft;
      }
    }

    dragEnd(e) {
      e = e || window.event;
      this.isDown = false;
      this.isActive = false;
    }

    dragMove(e) {
      e = e || window.event;

      if (this.isDown && this.isActive) {
        const wrapper = $(".sliderWrapper");
        const tabs = $(wrapper).get(".tab", true);
        this.totalWidth = tabs.length ? tabs.length * tabs[0].offsetWidth - wrapper.offsetWidth : 0;
        let currentLeft = +getComputedStyle(this.slider).left.replace(/\D/gi, "");

        if (e.type == "mousemove") {
          this.currentX = e.pageX - this.slider.offsetLeft;
        } else {
          this.currentX = e.touches[0].pageX - this.slider.offsetLeft;
        }

        this.walk = this.currentX - this.startX;
        const walk = this.walk > 0 ? this.walk : this.walk * -1; // +ve num

        if (this.walk < 0) {
          // next
          currentLeft += walk;
          if (currentLeft > this.totalWidth) currentLeft = this.totalWidth;
        } else {
          // prev
          currentLeft -= walk;
          if (currentLeft < 0) currentLeft = 0;
        }

        this.slider.style.left = `-${currentLeft}px`;
      }
    }
  }
</script>

<style lang="scss">
  .Tabs {
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: 100%;
    background: $border;
    border-radius: $radius $radius 0 0;
    border-bottom: 1px solid #dfdfe0;
    user-select: none;

    .innerTabs {
      height: 40px;
      margin-top: 10px;
      padding: 0 10px;

      .dots {
        position: relative;
        width: 80px;
        height: 100%;
        float: left;
        margin-right: 10px;

        span {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: $yellow;

          &:before {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: $red;
            left: -24px;
            top: 0;
          }

          &:after {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: $green;
            right: -24px;
            top: 0;
          }
        }
      }

      .addTab {
        width: 30px;
        height: 30px;
        float: left;
        border-radius: 50%;
        margin: 5px 0 5px 10px;

        &:hover {
          background: $hoverColor;
          transition: all 0.1s ease-in-out;
        }

        img {
          vertical-align: bottom;
          width: 20px;
          height: 20px;
          margin: 5px;
        }
      }

      .sliderWrapper {
        float: left;
        width: calc(100% - (90px + 40px));
        overflow: hidden;

        .slider {
          min-width: 2000px;
          display: flex;
          flex-wrap: nowrap;
          flex-direction: row;
          position: relative;
          left: 0;

          &:active {
            cursor: grab;
          }

          .tab {
            width: unquote("${this.tabWidth}px");
            height: 40px;
            text-align: center;
            line-height: 40px;
            background: white;
            border: 1px solid whitesmoke;
            border-bottom-color: #dfdfe0;
            border-radius: 10px 10px 0 0;
          }
        }
      }
    }
  }
</style>
