<template>
  <div class="Tabs">
    <div class="innerTabs">
      <!-- dots -->
      <div class="dots"><span></span></div>

      <div class="sliderWrapper">
        <div class="slider"></div>
      </div>

      <!-- add tab -->
      <button type="button" class="addTab">${this.plus}</button>
    </div>
  </div>
</template>

<script>
  import { $, debug } from "../../lib/pk.js";
  export default class Tabs {
    plus = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg>`;
    close = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"/></svg>`;
    startX = 0;
    currentX = 0;
    isDown = false;
    isActive = false;
    walk = 0;
    totalWidth;
    tabWidth = 250;

    constructor() {}
    data() {
      return {
        name: "Tabs",
        components: {},
        template: this.template(),
        style: this.style(),
        render: this.render.bind(this),
      };
    }

    render() {
      this.slider = $(".slider");
      const addBtn = $(".addTab");

      addBtn.on("click", () => this.addNewTab());
      this.slider.on("touchstart", e => this.dragStart(e));
      this.slider.on("mousedown", e => this.dragStart(e));
      this.slider.on("touchend", e => this.dragEnd(e));
      this.slider.on("mouseup", e => this.dragEnd(e));
      this.slider.on("touchmove", e => this.dragMove(e));
      this.slider.on("mousemove", e => this.dragMove(e));
      this.slider.on("wheel", e => this.scroll(e));
      this.slider.on("mouseleave", () => (this.isActive = false));
    }

    addNewTab() {
      const tabs = $(".tab", true);
      tabs.forEach(tab => tab.classList.remove("activeTab"));
      const tab = `
      <span class="tab activeTab">
        <span class="tab__num">(0)</span>
        <input type="text" class="tab__title" value="New Tab" placeholder="New Tab" readonly />
        <button type="button" class="tab--closeBtn">${this.close}</button>
      </span>`;
      this.slider.insertAdjacentHTML("afterbegin", tab);
    }

    scroll(e) {
      e = e || window.event;
      const wrapper = $(".sliderWrapper");
      const tabs = $(wrapper).get(".tab", true);
      this.totalWidth = tabs.length ? tabs.length * tabs[0].offsetWidth - wrapper.offsetWidth : 0;
      let currentLeft = +getComputedStyle(this.slider).left.replace(/\D/gi, "");
      if (e.deltaY < 0) {
        // next
        currentLeft -= this.tabWidth;
        if (currentLeft < 0) currentLeft = 0;
      } else {
        // prev
        currentLeft += this.tabWidth;
        if (currentLeft > this.totalWidth) currentLeft = this.totalWidth;
      }
      this.slider.style.left = `-${currentLeft}px`;
    }

    dragStart(e) {
      e = e || window.event;
      this.isDown = true;
      this.isActive = true;
      if (e.type == "mousedown") {
        this.startX = e.pageX - this.slider.offsetLeft;
      } else {
        this.startX = e.touches[0].pageX - this.slider.offsetLeft;
      }
    }

    dragEnd(e) {
      e = e || window.event;
      this.isDown = false;
      this.isActive = false;
    }

    dragMove(e) {
      e = e || window.event;

      if (this.isDown && this.isActive) {
        const wrapper = $(".sliderWrapper");
        const tabs = $(wrapper).get(".tab", true);
        this.totalWidth = tabs.length ? tabs.length * tabs[0].offsetWidth - wrapper.offsetWidth : 0;
        let currentLeft = +getComputedStyle(this.slider).left.replace(/\D/gi, "");

        if (e.type == "mousemove") {
          this.currentX = e.pageX - this.slider.offsetLeft;
        } else {
          this.currentX = e.touches[0].pageX - this.slider.offsetLeft;
        }

        this.walk = this.currentX - this.startX;
        const walk = this.walk > 0 ? this.walk : this.walk * -1; // +ve num

        if (this.walk < 0) {
          // next
          currentLeft += walk;
          if (currentLeft > this.totalWidth) currentLeft = this.totalWidth;
        } else {
          // prev
          currentLeft -= walk;
          if (currentLeft < 0) currentLeft = 0;
        }

        this.slider.style.left = `-${currentLeft}px`;
      }
    }
  }
</script>

<style lang="scss">
  .Tabs {
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: 100%;
    background: $border;
    border-radius: $radius $radius 0 0;
    border-bottom: 1px solid #dfdfe0;
    user-select: none;

    .innerTabs {
      height: 40px;
      margin-top: 10px;
      padding: 0 10px;

      .dots {
        position: relative;
        width: 80px;
        height: 100%;
        float: left;
        margin-right: 10px;

        span {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: $yellow;

          &:before {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: $red;
            left: -24px;
            top: 0;
          }

          &:after {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: $green;
            right: -24px;
            top: 0;
          }
        }
      }

      .addTab {
        width: 30px;
        height: 30px;
        float: left;
        border-radius: 50%;
        margin: 5px 0 5px 10px;
        position: relative;

        &:hover {
          background: $hoverColor;
          transition: all 0.1s ease-in-out;
        }

        svg {
          pointer-events: none;
          width: 14px;
          height: 14px;
          position: absolute;
          fill: #8a898b;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .sliderWrapper {
        float: left;
        width: calc(100% - (90px + 40px));
        overflow: hidden;

        .slider {
          min-width: 100000px;
          display: flex;
          flex-wrap: nowrap;
          flex-direction: row;
          position: relative;
          left: 0;

          &:active {
            cursor: grab;
          }

          .tab {
            width: unquote("${this.tabWidth}px");
            height: 40px;
            line-height: 40px;
            background: white;
            border: 1px solid whitesmoke;
            border-bottom-color: #dfdfe0;
            border-radius: 10px 10px 0 0;
            padding: 0 5px;

            &__num {
              float: left;
              height: 30px;
              margin: 5px 0;
              margin-right: 5px;
              line-height: 30px;
              width: 40px;
              text-align: center;
            }

            &__title {
              float: left;
              height: 30px;
              margin: 5px 0;
              outline: none;
              border: 1px solid white;
              text-indent: 10px;
              width: calc(100% - 75px);
              &:hover {
                border-color: #dee1e6;
              }
            }

            &--closeBtn {
              float: left;
              width: 25px;
              height: 25px;
              margin: 7.5px 0;
              margin-left: 5px;
              border-radius: 50%;
              &:hover {
                background: #eee;
              }
              svg {
                fill: #8a898b;
                pointer-events: none;
                width: 15px;
                height: 15px;
                margin: 5px;
              }
            }

            &.activeTab {
              background-color: $blue;

              .tab__num {
                color: $border;
              }

              .tab__title {
                border: 1px solid $blue;
                background-color: $blue;
                color: $border;

                &:hover {
                  border-color: $border;
                }
              }

              .tab--closeBtn {
                svg {
                  fill: $border;
                }

                &:hover {
                  background: $border;
                  svg {
                    fill: $blue;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
</style>
