<template>
  <div id="todos">
    <ul></ul>
  </div>
</template>

<script>
  import { $, debug } from "../../lib/pk.js";
  import { router } from "../app.js";
  import { api } from "../services/api.js";
  export default class Todos {
    constructor() {}
    data() {
      return {
        name: "Todos",
        components: {},
        template: this.template(),
        style: this.style(),
        render: this.render.bind(this),
      };
    }

    render() {
      this.app = $("#app");
      debug("test todos component");
      this.onChange();
      this.onDelete();
      this.onEdit();
    }

    onChange() {
      addEventListener(api.event, () => {
        const todos = api.get();
        const ul = $("#todos ul");
        if (ul) {
          ul.innerHTML = todos
            .map(todo => {
              return `
            <li>
              <p>${todo.title}</p>
              <span class="editBtn" data-id="${todo.id}">&#9998;</span>
              <span class="deleteBtn" data-id="${todo.id}">&#10006;</span>
            </li>
            `;
            })
            .join("");
        }
      });
      api.trigger();
    }

    onDelete() {
      this.app.on("click", e => {
        if (e.target.classList.contains("deleteBtn")) {
          const id = +e.target.getAttribute("data-id");
          api.remove(id);
        }
      });
    }

    onEdit() {
      this.app.on("click", e => {
        if (e.target.classList.contains("editBtn")) {
          const id = e.target.getAttribute("data-id");
          const todo = api.get().find(item => item.id == id);
          api.temp = todo;
          router.navigate("/edit");
        }
      });
    }
  }
</script>

<style lang="scss">
  #todos {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        overflow: hidden;
        background-color: #eee;
        margin-top: 5px;

        p {
          margin: 0;
          width: calc(100% - 80px);
          line-height: 25px;
          float: left;
          word-break: break-word;
          padding: 0 10px;
        }

        span {
          width: 40px;
          height: 30px;
          line-height: 30px;
          font-size: 30px;
          text-align: center;
          color: white;
          cursor: pointer;
          float: left;

          &.editBtn {
            background: #ffeb3b;
          }

          &.deleteBtn {
            background: #ff5722;
          }
        }
      }
    }
  }
</style>
