@import "./styles/normalize.scss";
@import "./styles/mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
// @include font("./assets/fonts");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #384258;

  a {
    text-decoration: none;

    &:active {
      @include btnAnimation;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul {
    margin: 0;
    padding: 0;
  }

  button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    &:active {
      @include btnAnimation;
    }
  }

  &.darkMode {
    .Home,
    .Settings,
    .Add {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/bg.webp");
    }
  }
}
